{% extends "base.html" %}

{% block title %}Обо мне{% endblock %}

{% block content %}
    <h1 class="mb-4">Обо мне</h1>
    <div class="text-body-secondary col-12 col-lg-8">
      <p class="mb-3">
        Привет! 👋
      </p>
      <p class="mb-3">
        Меня зовут Анна. Я Backend-разработчик на Python.
      </p>
      <p class="mb-3">
        Работаю с FastAPI, Django, Flask и Pyramid, разрабатываю REST API, интеграции с внешними сервисами, фоновые задачи и внутренние инструменты автоматизации.
      </p>
      <p class="mb-3">
        Начинала как системный администратор, занималась поддержкой инфраструктуры и
        веб-сервисов. Постепенно автоматизировала рутинные процессы с помощью Python
        и перешла в backend-разработку.
      </p>

    <p class="mb-3">
        Также я создаю обучающие материалы. На Stepik доступен мой курс
        <a href="https://stepik.org/course/287877"
           class="link-light link-underline-opacity-50"
           target="_blank"
           rel="noopener noreferrer">
            «Создание сайта с нуля: Frontend, Backend и публикация в интернет»
        </a>,
        в котором я показываю, как с нуля создать и опубликовать полноценный веб-проект.
    </p>

      <p class="mb-2">
        Github:
        <a href="https://github.com/levinadev" class="link-light link-underline-opacity-50" target="_blank" rel="noopener noreferrer">https://github.com/levinadev</a>
      </p>
      <p class="mb-2">
        Email:
        <a href="mailto:anna-levina@hotmail.com" class="link-light link-underline-opacity-50">anna-levina@hotmail.com</a>
      </p>
      <p class="mb-4">
        Telegram:
        <a href="https://t.me/levinadev" class="link-light link-underline-opacity-50" target="_blank" rel="noopener noreferrer">@levinadev</a>
      </p>

    </div>
{% endblock %}
